body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

.image-card {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
}

.image-card img {
    width: 100%;
}

.badge {
    position: absolute;
    background-color: rgb(182, 2, 2);
    top: 10px;
    right: 8px;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: bold;
    z-index: 3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 8px;
    opacity: 0;
    padding: 20px;
    transition: 0.5s ease;
}

.image-card:hover .overlay {
    opacity: 1;
}