body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

.image-card {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    display: inline-block;
}

.image-card img {
    width: 100%;
}

.badge {
    position: absolute;
    background-color: rgb(182, 2, 2);
    top: 10px;
    right: 8px;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
}